$main-color: #f4f4f4;
$font: Helvetica, sans-serif;
$title-font: 0.9em;
$subtitle-font: 0.7em;
body {
  font-family: $font;
  background-color: $main-color;
}

#magazineNr {
  position: absolute;
  height: 100vh;
}
.header {
  width: 100vw;
  height: 7vh;
  background-color: #ffff;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
#magazineNr h2 {
  font-size: 1em;
  text-align: center;
  font-weight: 300;
  padding-top: 0.5em;
}

h3 {
  font-size: $title-font;
}
h4 {
  font-size: $subtitle-font;
  font-weight: 200;
  color: #1b69bf;
}
#logo {
  width: 22%;
  margin-right: 4%;
}
#bag {
  width: 20%;
  margin: 5% 0 0 70%;
  box-shadow: 5px 5px 7px lightgray;
}
#burger {
  width: 8%;
  margin-left: 4%;
}

.item-name,
.item-name2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 4% 0 0 5%;
}
.item-name {
  position: absolute;
}
.item,
.delivery {
  display: flex;
  align-items: center;
}
.delivery {
  margin-bottom: 10%;
}
.mag-title {
  width: 100vw;
  height: 5vh;
  background-color: #c4c4c4;
  text-align: center;
  margin-top: 12%;
  margin-bottom: 5%;
}
#deli {
  width: 35px;
  margin-right: 5%;
}
.mg-number {
  display: flex;
  justify-content: space-around;
}
#number {
  font-size: 2em;
  color: #1b69bf;
}
#p {
  padding-right: 6em;
  font-size: $subtitle-font;
}
.input-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: #ffff;
  margin: 0 5% 5% 5%;
}
#magazineNr input {
  margin-top: 7%;
}
.mg-number :nth-child(2) {
  color: red;
  margin-top: 14%;
  font-size: $subtitle-font;
}
input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #c4c4c4;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #1b69bf;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #1b69bf;
}
#mostpopular {
  background-color: #1b69bf;
  margin: 5% 5% 0 5%;
}
#mostpopular p {
  text-align: center;
  margin: 0;
  color: white;
  font-size: 0.9em;
}
.shipment p {
  font-size: $subtitle-font;
}
.shipment {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#magazineNr {
  margin-left: 120%;
  // margin-top: -17%;
}
.hidden {
  display: none;
}
#main-img {
  width: 100vw;
}
#order {
  background-color: #81d742;
  width: 66vw;
  height: 5vh;
  border: none;
  color: #ffff;
  margin-left: 17%;
  font-size: $title-font;
  transition: all 0.5s;
  cursor: pointer;
  position: sticky;
}
#price {
  font-size: 1.5em;
}

.butt-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 2.5em 0.7em 0 0.7em;
}
.value {
  font-size: 0.7em;
}

.explanation {
  justify-content: space-evenly;
  display: flex;
  margin-top: 5%;
}

.shipment img {
  width: 30px;
}
#about-bag {
  margin: 6em 1em 1em 1em;
  text-align: justify;
}
#about-bag p {
  font-size: $subtitle-font;
}
.about,
.about2 {
  text-decoration: none;
  color: black;
  font-size: 0.7em;
  border: 2px solid #81d742;
}
.about {
  padding: 0.5em;
}
.about2 {
  padding: 0.5em 1.2em 0.5em 1.2em;
}
