$background-color: #f4f4f4;
$button-color: #81d742;
$blue-color: #1b69bf;
$font: Helvetica, sans-serif, #161616;

input,
button {
  width: 300px;
  height: 48px;
}
img {
  display: inline-block;
  grid-row: 2;
}

#customerInfo {
  background-color: $background-color;
  width: 100vw;
  #customerInfoHeader {
    background-color: #c4c4c4;
    height: 75px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    h1 {
      font: $font;
      margin: 0;
      grid-row: 1;
      grid-column: 1/7;
      text-align: center;
    }

    h2 {
      font-size: 14px;
      grid-row: 2;
      grid-column: 2/4;
      text-align: right;
    }
    img:nth-child(3) {
      width: 40px;
      grid-column: 4;
    }
    img:nth-child(4) {
      width: 26px;
      grid-column: 5;
      margin-top: 15px;
    }
  }
  form {
    display: grid;
    p {
      font-size: 10px;
    }

    #post {
      width: 103.75px;
    }
    #city {
      width: 178.75px;
    }

    button {
      background-color: $button-color;
    }
  }
}
