// @import "ulrika";
body {
  margin: 0;
}

$background-color: #f4f4f4;
$button-color: #81d742;
$blue-color: #1b69bf;
$font: Helvetica, sans-serif, #161616;

#customerInfo {
  background-color: $background-color;
  width: 100vw;
  #customerInfoHeader {
    background-color: #c4c4c4;
    height: 75px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    h1 {
      font: $font;
      margin: 11px auto 0 auto;
      grid-row: 1;
      grid-column: 1/7;
      text-align: center;
      font-size: 17px;
    }

    h2 {
      font-size: 14px;
      grid-row: 2;
      grid-column: 2/4;
      text-align: right;
    }
    img {
      display: inline-block;
      grid-row: 2;
    }
    img:nth-child(3) {
      width: 40px;
      grid-column: 4;
      margin-left: 7px;
    }
    img:nth-child(4) {
      width: 26px;
      grid-column: 5;
      margin-top: 7px;
    }
  }
  form {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    p {
      font-size: 12px;
      grid-column: 2/11;
      margin-top: 10px;
      margin-bottom: 0;
    }
    .input {
      grid-template-columns: 1fr 2fr;
      grid-column: 2/16;
      height: 51px;
      margin-bottom: 8px;
      position: relative;
      overflow: hidden;

      input {
        position: absolute;
        left: 25%;
        width: 68%;
        height: 48px;
        border: none;
        border-right: solid 8px #c4c4c4;
        padding: 0 0 0 15px;
        box-shadow: 0px 3px #c4c4c4;
        &:focus {
          outline: 0;
        }

        &:valid:not(:placeholder-shown) {
          border-right: 8px solid $button-color;
        }
        &:invalid:not(:placeholder-shown) {
          border-right: 8px solid rgba(255, 0, 0, 0.534);
        }
      }
      .correct {
        position: absolute;
        right: -6%;
      }
      label {
        position: absolute;
        width: 25%;
        z-index: 100;
        color: $font;
        font-size: 16px;
        top: 23%;
      }
      .required {
        position: absolute;
        color: rgba(255, 0, 0, 0.534);
        z-index: 500;
        left: 22%;
      }
      #city-required {
        left: 60.5%;
      }
      #post-city {
        position: relative;
        grid-row: 5;
        grid-column: 2/16;
      }

      #post {
        left: 25%;
        width: 25%;
      }
      #city {
        width: 30%;
        left: 63%;
      }
    }
  }
}
